# General good ideas to ignore
.idea
.git
.cache
.venv

# the default mount for outputs from the package builder
outputs

# docker build files (so just changing them does not invalidate *all* caches)
.dockerignore
Dockerfile
Dockerfile_build
