# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: no-commit-to-branch
    -   id: check-executables-have-shebangs
    -   id: check-ast
    -   id: check-toml
    -   id: trailing-whitespace
        exclude: ".*.sql"
    -   id: end-of-file-fixer
        exclude: ".*.sql"
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: pretty-format-json
        args:
        - --autofix
-   repo: https://github.com/IamTheFij/docker-pre-commit.git
    rev: v3.0.1
    hooks:
    -   id: docker-compose-check
        files: "docker-compose.*.yml"
        exclude: ".*.tpl"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: forbid-crlf
        exclude: ".*.sql"
    -   id: remove-crlf
        exclude: ".*.sql"
    -   id: forbid-tabs
        exclude: ".*.sql"
    -   id: remove-tabs
        exclude: ".*.sql"
-   repo: https://github.com/Lucas-C/pre-commit-hooks-markup
    rev: v1.0.1
    hooks:
    -   id: rst-linter
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        exclude: "poetry.lock"
        # args: ['--baseline', '.secrets.baseline']
-   repo: https://github.com/rhysd/actionlint
    rev: "v1.7.7"
    hooks:
        - id: actionlint
          args: ["-shellcheck", "''"]
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
        language_version: python3
