version: '3.4'

services:
  tak_rmapi:
    image: "pvarki/python-tak-rmapi:latest"
    # build:
    #   context: ./python-tak-rmapi
    #   dockerfile: Dockerfile
    #   target: production
    env_file:
      - 'takserver.env'
    depends_on:
      - "takdb"
    networks:
      - taknet
    volumes:
      - 'takserver_certs:/opt/tak/data/certs'
    ports:
      - "8888:8000"

  takserver_initialization:
    image: "pvarki/takserver:4.7-RELEASE-32${DOCKER_TAG_EXTRA}"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - 'takserver.env'
    depends_on:
      - "takdb"
      - "tak_rmapi"
    networks:
      - taknet
    volumes:
      - 'takserver_logs:/opt/tak/data/logs'
      - 'takserver_certs:/opt/tak/data/certs'
    command: /opt/scripts/firstrun.sh

  takserver_messaging:
    image: "pvarki/takserver:4.7-RELEASE-32${DOCKER_TAG_EXTRA}"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - 'takserver.env'
    depends_on:
      takserver_initialization:
          condition: service_completed_successfully
    volumes:
      - 'takserver_logs:/opt/tak/data/logs'
      - 'takserver_certs:/opt/tak/data/certs'
    networks:
      - taknet
    ports:
      - '8443:8443'
      - '8444:8444'
      - '8446:8446'
      - '8089:8089'
      - '8080:8080'
    command: ./opt/scripts/start-tak.sh messaging

  takserver_api:
    image: "pvarki/takserver:4.7-RELEASE-32${DOCKER_TAG_EXTRA}"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - 'takserver.env'
    depends_on:
      - "takserver_messaging"
      - "takdb"
    volumes:
      - 'takserver_logs:/opt/tak/data/logs'
      - 'takserver_certs:/opt/tak/data/certs'
    network_mode: "service:takserver_messaging"
    command: ./opt/scripts/start-tak.sh api

  takserver_pluginmanager:
    image: "pvarki/takserver:4.7-RELEASE-32${DOCKER_TAG_EXTRA}"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - 'takserver.env'
    depends_on:
      - "takserver_api"
      - "takdb"
    volumes:
      - 'takserver_logs:/opt/tak/data/logs'
      - 'takserver_certs:/opt/tak/data/certs'
    network_mode: "service:takserver_messaging"
    command: ./opt/scripts/start-tak.sh pm

  takdb:
    image: postgis/postgis:15-3.3
    networks:
      - taknet
    env_file:
      - 'takserver.env'
    volumes:
      - 'takdb_data:/var/lib/postgresql/data'

networks:
  taknet:

volumes:
  takdb_data:
    driver: local
  takserver_logs:
    driver: local
  takserver_certs:
    driver: local
