# The bearer token that certsapi accepts for auth
BEARER_ACCEPT=
# Needed by traefik production config letsencrypt
CERTBOT_EMAIL=
# Server address needed for client mission package generation
TAK_SERVER_ADDRESS=
# This is shown as the server name in mission package
TAK_SERVER_NAME=
# The database password
POSTGRES_PASSWORD=
# admin cert password
ADMIN_CERT_PASS=
# The password for the takserver instance's certificate
TAKSERVER_CERT_PASS=

# Certificate Authority configuration details
COUNTRY=
CA_NAME=
CA_PASS=
STATE=
CITY=
ORGANIZATION=
ORGANIZATIONAL_UNIT=

## These can stay as defaults
# The username and password for the takserver administrator
ADMIN_CERT_NAME=admin
# Values that should not require modification with standard usage
POSTGRES_DB=cot
POSTGRES_USER=martiuser
POSTGRES_ADDRESS=takdb

# no  = Run tak docker compose on it's own and setups own certificates etc...
# yes = Setup tak using certificates from RM api
SETUP_CERTS_USING_MANIFEST=no

# manifest.json file location.
# RM_API_MANIFEST_FILE=/pvarkishares/tak/kraftwerk-init.json
#
# Set default test certificates from python-tak-rmapi
# SET_TEST_CERTIFICATES=yes
