# Server address needed for client mission package generation
TAK_SERVER_ADDRESS=
# This is shown as the server name in mission package
TAK_SERVER_NAME=
# The database password
POSTGRES_PASSWORD=
# admin cert password
ADMIN_CERT_PASS=
# The password for the takserver instance's certificate
TAKSERVER_CERT_PASS=

# Certificate Authority configuration details
COUNTRY=
CA_NAME=
CA_PASS=
STATE=
CITY=
ORGANIZATION=
ORGANIZATIONAL_UNIT=

## These can stay as defaults
# The username and password for the takserver administrator
ADMIN_CERT_NAME=admin
# Values that should not require modification with standard usage
POSTGRES_DB=cot
POSTGRES_USER=martiuser
POSTGRES_ADDRESS=takdb
# With the default composition the user is the superuser but in other cases it isn't
POSTGRES_SUPERUSER=$POSTGRES_USER
POSTGRES_SUPER_PASSWORD=$POSTGRES_PASSWORD
