on:
    pull_request:
    push:
      branches:
        - main
    workflow_dispatch:  # Allow manual triggering

jobs:
  test:
    runs-on: arc-runner-set
    permissions:
      contents: write
      pull-requests: write
      checks: write
    strategy:
      matrix:
        python-version: ["3.11"] # , "3.12"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        id: install_dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pre-commit detect-secrets
      - name: pre-commit
        id: pre_commit
        run: |
          export PATH=$PATH:/home/runner/.local/bin
          export SKIP=no-commit-to-branch
          cp takserver.env.example takserver.env
          pre-commit run --all-files
      - name: Build takinit
        run: |
          export COMPOSE_BAKE=true
          docker compose build takserver_initialization


  build_and_publish:
    runs-on: arc-runner-set
    needs: [test]
    env:
      PVARKI_DOCKER_REPO: ghcr.io/
      ACR_REPO: ${{ vars.ACR_REPO }}
    strategy:
      matrix:
        compose_extra: ["", "-f docker-compose-local.yml"]
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ACR_REPO }}
          username: ${{ vars.ACR_USERNAME }}
          password: ${{ secrets.ACR_TOKEN }}
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Fix ref slashes
        run: |
          echo REF_NO_SLASHES=$(echo "${{ github.ref_name }}" | sed 's/\//-/g') >> ${GITHUB_ENV}
      - name: Set DOCKER_TAG_EXTRA if not main
        if: github.event.pull_request.merged != true
        run: |
          test "${{ github.ref }}" = "refs/heads/main" || echo "DOCKER_TAG_EXTRA=-$REF_NO_SLASHES" >> ${GITHUB_ENV}
          cat ${GITHUB_ENV}
      - name: Generate bakefile
        run: |
          source example_env.sh
          docker compose ${{ matrix.compose_extra }} config --format json | .github/compose2bake_variants.py >bakefile.hcl
      - name: Build
        run: |
          docker buildx bake -f bakefile.hcl --pull --load takserver_initialization
      - name: push
        if: ${{ !env.ACT }}
        run: |
          docker buildx bake -f bakefile.hcl --push takserver_initialization
